.first-section {
  min-height: calc(var(--vh, 1vh) * 100);
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: calc-size($view-height, 473, "vh");
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    &--image {
      width: 100%;
      transform: scale(1.2);
      transition: 0.5s ease-out;
    }
  }
  &__content-box {
    width: calc-size($view-width, 342, "%");
    margin-left: calc-size($view-width, 33, "%");
    margin-top: calc-size($view-width, -70, "%");
    z-index: 1;
  }
  &__heading.heading {
    display: block;
    color: #33856c;
    padding-bottom: calc-size($view-width, 50, "%");
  }
}

@media only screen and (max-device-width: 727px) {
  .first-section {
    &__heading.heading {
      font-size: 5.2rem;
      font-weight: 600;
    }
    &__content-box {
      margin-top: -14%;
    }
  }
}