.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h2 {
        padding-top: calc-size($view-width, 59, "%");
        padding-bottom: calc-size($view-width, 72, "%");
        font-size: 3.1rem;
        text-align: center;
    }
    &__content-box {
        display: flex;
        flex-direction: column;
        max-width: calc-size($view-width, 325, "%");
        margin: auto;
        & figure {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: calc-size($view-width, 41, "%");
            opacity: 0;
            & img {
                margin-right: calc-size(325, 38, "%");
            }
        }
    }
    &__image-box {
        height: 17vh;
        width: 100%;
        overflow: hidden;
        background-image: url("../img/mobile/imgs/marc-olivier-jodoin-486793-unsplash@2x.png");
        background-size: cover;
        background-position: center;
    }
}

#footer__button {
    margin-top: calc-size($view-width, 65, "%");
    margin-bottom: calc-size($view-width, 52, "%");
}

@include respond(desktop) {
    .footer {
        padding: 149px 0 100 0;
        .heading {
            padding: 0;
            margin-top: 149px;
        }
        &__content-box {
            flex-direction: row;
            text-align: center;
            & figure {
                flex-direction: column;
                margin: 89px 0 0 0;
                & figcaption.paragraph{
                    margin-top: 30px;
                    font-size: 20px;
                }
                & img {
                    margin: 0;
                }
            }
        }
        &__image-box {
            margin: 100px 0 0 0;
            background-image: url("../img/desctop-laptop/img/images/marc-olivier-jodoin-486793-unsplash.png");

        }
    }
    #footer__button {
        margin: 112px 0 0 0;
    }
}



@include respond(big-screen) {
    .footer {
      .heading {
      font-size: 65px;
      margin-top: 202px;
      }
      &__content-box{
          width: 100%;
          justify-content: space-evenly;
          figure{
            width: 309px;
          }
      }
      &__paragraph.paragraph {
        font-size: 25px;
        line-height: 40px;
      }
    }
  }