.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1500;
    display: flex;
    flex-direction: column;
    padding:10rem 2.87rem 0 2.87rem;
    transition: 1s ease-in-out;
    overflow-y: scroll;
    opacity: 0;
    transform: translateX(-30);
    pointer-events: none;
    overflow-x: hidden;
    overflow-y: scroll;
    &__SVG--left {
        position: absolute;
        bottom: calc-size($view-height,80, "%");
        left: 0;
        animation: left_line 2s 1s ease-in-out infinite alternate;
    }
    &__SVG--right {
        position: absolute;
        top: calc-size($view-height, 160, "%");
        right: 0;
        animation: left_right 2s ease-in-out infinite alternate;
    }
    &__paragraph.paragraph {
        padding: 5rem 0;
    }
    &__background {
        position: fixed;
        top: -100px;
        left: -100px;
        width: 100px;
        height: 100px;
        transition: 1s ease-in-out;
        transform: scale(1);
        background-color: white;
        z-index: 1300;
        border-radius: 50%;
    }
    &>form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        input {
            border: none;
            background-color: #F9F9F9;
            padding: 0.7rem 2rem;
            border-radius: 40px;
            width: 100%;
            border: 1px solid transparent;
            transform: translateY(0);
            transition: .3s;
            &:focus {
                outline: none;
                border: 1px solid #11A87A;
            }
            &:not(:first-child) {
                margin-top: calc(var(--vh) * 3.25);
            }
            &::placeholder {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6rem;
                color: #535659;
                font-weight: 500;
            }
        }
        button {
            font-family: "Montserrat", sans-serif;
            margin-top: 5rem;
        }
    }
}

