.header {
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    background-image: url("../img/mobile/background/2076747-02@2x.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 10;
    &__SVG--left {
        position: absolute;
        bottom: calc-size($view-height, 41, "%");
        left: 0;
        animation: left_line 2s 1s ease-in-out infinite alternate;
    }
    &__SVG--right {
        position: absolute;
        top: calc-size($view-height, 163, "%");
        right: 0;
        animation: left_right 2s ease-in-out infinite alternate;
    }
    &__background {
        width: 100%;
        height: 100%;
        background: black;
    }
    &__heading {
        font-family: 'Montserrat', sans-serif;
        font-size: 4.4rem;
        font-weight: 600;
        position: absolute;
        top: calc-size($view-height, 139, "%");
        left: calc-size($view-width, 33, "%");
        color: #11A87A;
    }
    &__image {
        position: absolute;
        bottom: calc-size($view-height, 77, "%");
        right: 0;
        display: block;
        width: calc(100% - 3.3rem);
        max-width: 567px;
    }
    &>.paragraph {
        position: absolute;
        color: white;
        font-size: 1.6rem;
        font-weight: 500;
        top: calc-size($view-height, 240, "%");
        left: calc-size($view-width, 33, "%");
        width: calc-size($view-width, 330, "%");
    }
    &__background {
        width: 100%;
        z-index: 200;
        position: absolute;
        height: 100%;
        background: black;
        transition: 1s;
        opacity: 0;
        pointer-events: none;
    }
}

#header__button {
    position: absolute;
    top: calc-size($view-height, 368, "%");
    left: calc-size($view-width, 33, "%");
}

.activeIn {
    animation: 1s in linear;
}

.activeOut {
    animation: 1s out linear;
}

@keyframes in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes left_line {
    from {
        transform: translateX(-20px)
    }
    to {
        transform: translateX(0px)
    }
}

@keyframes left_right {
    from {
        transform: translateX(20px)
    }
    to {
        transform: translateX(0px)
    }
}

@media only screen and (min-width: 727px) and (max-width:1373px) {
    #header__button {
        top: 45%;
        font-size: 1.9rem;
        padding: 0.4rem 4rem;
    }
}

@media only screen and (min-width: 727px) and (max-width:1370px) and (orientation: landscape) {
    .header {
        &__image {
            right: 11%;
            width: 50%;
        }
    }
}

@media only screen and (min-width:1371px) and (max-width:1925px){

}