.navigation{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 3.3rem;
    z-index: 2000;
    transition: 1s linear;
    &__logo{
        path{
            transition: 1s linear;
        }
    }
}