.navigation{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 3.3rem;
    z-index: 2000;
    transition: 1s linear;
    &__logo{
        path{
            transition: 1s linear;
        }
    }
}

@media only screen and (max-device-width: 727px) {
    .navigation{
        &__logo{
            width: 213.36px;
            height: 26.81px;
        }
        &__button{
            width: 28px;
            height: 28px;
        }
    }
}