.second-section {
  position: relative;
  &__content-box {
    width: calc-size($view-width, 241, "%");
    margin-left: calc-size($view-width, 148, "%");
    padding-top: calc-size($view-height, 86, "%");
    padding-bottom: calc-size($view-height, 107, "%");
  }
  &__heading.heading {
    color: #535659;
    line-height: 5.5rem;
    position: relative;
    & span:nth-of-type(1) {
      color: #127e5d;
    }
    & span:nth-of-type(2) {
      font-size: 2.3rem;
      margin-top: 5.1rem;
      margin-bottom: 7.3rem;
    }
  }
  &__clone {
    position: absolute;
    width: 100%;
    overflow: hidden;
    &__SVG--left {
      position: absolute;
      top: calc-size($view-height, 335, "%");
      left: 0;
    }
    &__SVG--right {
      position: absolute;
      top: 25%;
      right: -10%;
      animation: left_right 2s ease-in-out infinite alternate;
    }
    &__image {
      position: absolute;
      top: calc-size($view-height, 152, "%");
      left: calc-size($view-width, 12, "%");
      width: calc-size($view-width, 122, "%");
    }
    &__SVG {
      position: absolute;
      top: calc-size($view-height, 115, "%");
      left: 0;
      width: calc-size($view-width, 86, "%");
      height: calc-size($view-height, 272, "%");
      rect {
        fill: #23604d;
      }
    }
    &__SVG--gray {
      display: none
    }
  }
}

@include respond(tab-port) {
  .second-section {
    &__clone {
      &__SVG--left {
        top: 45%;
        width: 75px;
      }
      &__SVG--right {
        width: 125px;
      }
    }
  }
}

@include respond(desktop) {
  .second-section {
    &__content-box {
      width: 51%;
      padding-top: 20%;
      margin-left: 41%;
    }
    &__clone {
      &__SVG {
        width: 15.7%;
        height: 680px;
        left: 16.5%;
        top: 8vh;
      }
      &__SVG--gray {
        display: block;
        position: absolute;
        top: 23vh;
        left: 26%;
        width: 18%;
        height: 64vh;
        rect {
          fill: rgba(35,96,77, 0.2);
        }
      }
      &__SVG--left {
        display: none;
      }
      &__SVG--right {
        display: none;
      }
      &__image {
        width: 19%;
        left: 18.8%;
        top: 36vh;
      }
    }
    &__heading.heading {
      & span:nth-of-type(1) {
        padding-left: 2rem;
      }
      & span:nth-of-type(2) {
        font-size: 2.3rem;
        margin-top: 31px;
        margin-bottom: 96px;
        text-align: right;
        padding-right: 23%;
      }
    }
    &__paragraph.paragraph {
      padding-left: 19%;
      font-size: 20px;
      line-height: 35px;
    }
  }
}

@include respond(big-screen){
  .second-section{
    &__clone {
      &__SVG {
        width: 13.7%;
        height: 88.7vh;
        left: 16.5%;
        top: -4vh;
      }}
    &__heading.heading{
      font-size: 97px;
      & span:nth-of-type(2){
        font-size: 67px;
        padding-right: 7%;
        margin-top: 48px;
        margin-bottom: 108px;
      }
    }
    &__paragraph.paragraph{
      font-size: 25px;
      line-height: 40px;
    }
  }
}